.App {
  padding: 30px;
  display: flex;
  background-color:rgb(184, 215, 219);
  height: 1000px;
} 

.App > div {
  margin-right: 50px;
}

.error {
  border:rgb(122, 45, 44) 2px solid;
  background-color:rgb(122, 45, 44, 0.2)
}

.error-message {
  color:rgb(122, 45, 44)

}

.active-filter {
  background-color: darkseagreen;
}

.is-done {
  opacity: 0.5;
}

.title {
  color: rgb(45, 125, 44)
}